.login {
  align-items: center;
}
.login > h3 {
  margin-left: 20px;
}
.login-btn {
  margin-left: 20px;
  margin-top: 10px;
}
.text-fields {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.text-fields > div {
  margin: 10px;
}
input {
  border-radius: 25px;
  border: 2px solid #2196f3;
  padding: 20px;
  width: 30vw;
  height: 15px;
}
