.login {
  align-items: center;
}
.register-user > h3 {
  margin-left: 20px;
}
.login-btn {
  margin-left: 20px;
  margin-top: 10px;
}
.text-fields {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.text-fields > div {
  margin: 10px;
}
input {
  border-radius: 25px;
  border: 2px solid #2196f3;
  padding: 20px;
  width: 40vw;
  height: 15px;
}
.error-msg {
  color: red;
}
.error {
  color: #d8000c;
}
