#book-form {
  display: none;
}
#Author-form {
  display: none;
}
#open-form-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
#open-author-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.add-book > h3 {
  text-align: center;
}
.btn-add-book {
  display: block;
  padding-right: 20px;
}
.add-book {
  display: block;
  margin-right: 20px;
}
